.title2{
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}

.title3{
    font-size: 1rem;
    color:rgb(0, 0, 0);
    font-weight: 100;
    padding:3%;
    font-family: 'Courier New', Courier, monospace;
}
.split--image{
    width:420px;
    user-select: none;
    pointer-events: none;
    border-radius: 4px;
    box-shadow: 0px 10px 45px 3px rgb(151, 159, 167);
}

.fr{
    display:flex;
    flex-direction: row;
}

.fc{
    display: flex;
    flex-direction: column;
}

.fjc{
    display: flex;
    justify-content: center;
}

.faic{
    display: flex;
    align-items: center;
}